# build output
dist/
# generated types
.astro/

# dependencies
node_modules/
.vercel
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

See this , its my personal portfolio but it has some flickering issues also this website was supposed to be static but when i change ttab it refereshes each time 
can u fix that???
also i need it to be smooth and not reload and fix the flickering issue of the header and it grrows or shrinks and blinks , fix them all